body,
html,
p {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #232020;
    padding: 30px 15px;
}

nav a{
    color: #71f7e7;
}

body {
    background-color:rgb(209, 209, 209);
}

header,
section,
footer {
    padding: 60px 30px;
}

header {
    background-image: url(/Salmon-cookies/images/salmon.png);
    height: 80vh;
}

footer {
    background-color: #232020;
    text-align: right;   
    color: #71f7e7
}