
body {
    padding: 0;
    margin: 0; 
    background: -webkit-linear-gradient(-45deg, rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); 
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    background-color: #161925;
    width: 95%;
    min-width: 540px;
    overflow: auto; 
    margin: auto;
}

.navbar {
    float: left;
    width: 23%;
}
.navbar ul {
    text-align: left;
    text-decoration: none;
    padding: 0px;
}
.navbar li {
    width: 90px;
    display: inline-block;
    color: #71f7e7;
    background-color: #161925;
    text-align: center;
    margin: 3px;
    padding: 0px;
}
.navbar li:hover{
    color: #83E800;
    background-color: #777777;

}

header h1 {
    color: #71f7e7;
    width: 51%;
    float: left;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:54px;
}
.header-salmon {
    float: left;
    display: block; 
    width: 23%;
    min-width: 100px;
    margin: 1%;
}
main {
    height: 100%;
    margin: 5%;
}
.top-box {
    width: 53%;
    overflow: auto;
    background-color:#83E800;
    color: #777777;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    padding: 2%;
}
.top-box p {
    color: #777777;
    font-size: 36px;
    font-family: fantasy;
    text-align: center;
    
}

.two-boxes {
    width: 80%;
    margin: auto;
    color: #83E800;
    overflow: hidden;
}

.left-box {
    margin-top: 8%;
    width: 50%;
    float: left;
    margin-right: 3%;
    padding: 1%;
    background-color: #777777;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.top-corner-fish {
    max-width: 80px;
    float: left;
}

.family-photo {
    width: 100%;
}

.left-box div {
    text-align: center;
    font-size: 45px;
    color: #71f7e7;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
}
.right-box h2 {
    text-align: center;
    color: #71f7e7;
    font-size: 36px;
}

.right-box {
    margin-top: 8%;
    width: 40%;
    float: left;
    margin-left: 2%;
    padding: 1%;
    background-color: #777777;
    padding-bottom: 100%;
    margin-bottom: -100%; 
}

.right-box img {
    width: 100%;
}

footer {
    background-color: #161925;
    width: 95%;
    min-width: 540px;
    text-align: right;   
    color: #71f7e7;
    padding: 0px;
    bottom: 0;
    margin: auto;
    overflow: auto;
}

.footer-salmon {
    float: left;
    display: block; 
    width: 23%;
    min-width: 100px;
    margin: 1%;
}

.footer-text {
    width: 20%;
    float: right;
    padding: 15px;
}

.table-section {
    width: 100%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #161925;
    color: #71f7e7;
    font-size: 18px;

}

table {
    border: 1px solid #777777;
}
th {
    border: 1px solid #777777;
}
tr {
    border: 1px solid #777777;
}
td {
    border: 1px solid #777777;
}

.new-store {
    width: 60%;
    margin: auto;
}

legend {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.newstore form {
    max-width: 100%;
    margin: 90px auto;
}

.newstore input {
    padding: 15px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    transition: all 250ms ease;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #161925;
    margin-bottom: 15px;
}

.newstore input:focus {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.form-row {
    margin-bottom: 30px;
    padding: 0 15px;
    float: left;
    width: 50%;
    box-sizing: border-box;
}
